{% extends "layout.html" %}

{% block body %}


{% if unstarted_tasks is defined and unstarted_tasks%}
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-primary">
    The following users have unstarted tasks:
  </li>
  {% for user in unstarted_tasks %}
  <li class="list-group-item"> 
    User "{{user.name}}" with id {{user.id}}.
  </li>
  {% endfor %}
</ul>

{% endif %}

{% if most_used_tags is defined and most_used_tags %}
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-primary">
    The following tags are most used in tags
  </li>
  {% for tag in most_used_tags %}
  <li class="list-group-item"> 
    Tag "{{tag.name}}" is used in {{tag.count}} tasks. Time has been used {{tag.sum}}.
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if tasks_roles is defined and tasks_roles %}
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-primary">
    The following roles are connected to tasks
  </li>
  {% for role in tasks_roles %}
  <li class="list-group-item"> 
    Users with role "{{role.name}}" have added {{role.count}} tasks.
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}