{% extends "layout.html" %}

{% block body %}

{% if return_Task is defined and return_Task%}
<ul class="list-group list-group-flush">
  <li class="text-uppercase">{{ task.name }}</li>
  <li>{{ task.description }}</li>
  <li>{{ task.estimated_time }}</li>
  <li>{{ task.used_time }}</li>
  <li><a class="page-link" href="{{ url_for('tasks_tagsget', task_id=task.id) }}">Tags</a></td>
  {% if task.account_id == current_user.id %}
    <li>
      <a class="page-link" href="{{ url_for('tasks_edit', task_id=task.id) }}">Edit task</a>
    </li>
  {% else %}
    <li class="p-3 mb-2 bg-info text-white">Owner only</li>
  {% endif %}
  <li>{{ task.username }}</li>
  {% if current_user.is_authenticated %}
    <li>
      <form method="POST" class="form-group" action="{{ url_for('tasks_addTime', task_id=task.id) }}">
        <input type="submit" class="btn btn-primary" value="Add time"/>
      </form>
    </li>
  {% else %}
    <li class="p-3 mb-2 bg-secondary text-white">Users only</li>
  {% endif %}
  {% if current_user.role == 'admin'%}
    <li>
      <form method="POST" class="form-group" action="{{ url_for('tasks_delete', task_id=task.id) }}">
        <input type="submit" class="btn btn-danger" value="Delete"/>
      </form>
    </li>
  {% else %}
    <li class="p-3 mb-2 bg-info text-white">Admin only</li>
  {% endif %}
</ul>


{% endif %}

{% if unstarted_tasks is defined and unstarted_tasks%}
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-primary">
    The following users have unstarted tasks:
  </li>
  {% for user in unstarted_tasks %}
  <li class="list-group-item"> 
    User "{{user.name}}" with id {{user.id}}.
  </li>
  {% endfor %}
</ul>

{% endif %}

{% if used_tags is defined and used_tags %}
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-primary">
    The following tags are used in tags
  </li>
  {% for tag in used_tags %}
  <li class="list-group-item"> 
    Tag "{{tag.name}}" is used in {{tag.count}} tasks. It has been used total of {{tag.sum}} hours.
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if tasks_roles is defined and tasks_roles %}
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-primary">
    The following roles are connected to tasks
  </li>
  {% for role in tasks_roles %}
  <li class="list-group-item"> 
    Users with role "{{role.name}}" have added {{role.count}} tasks.
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}