{% extends "layout.html" %}

{% block body %}

{% if needs_tasks is defined %}
<p>The following users need new tasks:</p>

<ul>
  {% for user in needs_tasks %}
  <li> {{user.id}} {{user.name}} {{user.role}} </li>
  {% endfor %}
</ul>

{% endif %}

{% if unfinished_tasks is defined%}
<p>The following users have unfinished tasks:</p>

<ul>
  {% for user in unfinished_tasks %}
  <li> {{user.id}} {{user.name}} {{user.role}} </li>
  {% endfor %}
</ul>

{% endif %}

{% if used_tags is defined %}
<p>The following tags are connected to tasks</p>
<ul>
    {% for tag in used_tags %}
    <li> {{tag.id}} {{tag.name}} </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}