{% extends "layout.html" %}

{% block body %}

{% if current_user.is_authenticated %}

<form method="POST" action="{{ url_for('auth_info') }}">
    <table class="table table-striped">
        <thead class="thead-dark">
            <th scope="col">Name of data</th>
            <th scope="col">Current data</th>
            <th scope="col" colspan="3">Edit data here</th>
        </thead>
            <tr>
                <td>{{ form.name.label }}:</td>
                <td>{{ current_user.name }} </td>
                <td>{{ form.name }}</td>
                <td>
                    <ul>
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>{{ form.username.label }}:</td>
                <td>{{ current_user.username }} </td>
                <td>{{ form.username }}</td>
                <td>
                    <ul>
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>{{ form.password.label }}:</td>
                <td>{{current_user.printpassword() }} </td>
                <td>{{ form.password }}</td>
                <td>
                    <ul>
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="4">{{ current_user.role }}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <input type="submit" class="btn btn-primary" value="Save changes"/>
                </td>
            </tr>
    </table>
</form>

{% if tasks is defined and tasks%}
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-primary">
    {{ current_user.name }} owns these tasks:
  </li>
  {% for task in tasks %}
  <li class="list-group-item"> 
    {{task.name}}
  </li>
  {% endfor %}
</ul>
{% else %}
    <div class="alert alert-warning" role="alert">
        {{current_user.name}} doesn't own any tasks.
    </div>
{% endif %}

{% else %}
    <div class="alert alert-warning" role="alert">
        Log in to see user information
    </div>
{% endif %}

{% endblock %}