{% extends "layout.html" %}

{% block body %}
<form method="POST" class="form-group" action="{{ url_for('auth_login') }}">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ form.username.label }}</li>
      <li class="list-group-item">{{ form.username }}</li>
      <li class="list-group-item">{{ form.password.label }}</li>
      <li class="list-group-item">{{ form.password }}</li>
      <li class="list-group-item">
        <input type="submit" class="btn btn-primary" value="Login"/>
      </li>
      <li class="list-group-item">{{ error }}</li>
    </ul>
</form>
{% endblock %}
