{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('tasks_editor', task_id=task.id) }}">
  <p>{{ task_id }}</p>
  <table class="table table-striped">
    <thead class="thead-dark">
      <th scope="col">Name of data</th>
      <th scope="col">Current data</th>
      <th scope="col">Edit data here</th>
     </thead>
    <tr>
      <td>{{ form.name.label }}:</td>
      <td>{{ task.name }} </td>
      <td>{{ form.name }}</td>
    </tr>
    <tr>
      <td>{{ form.description.label }}:</td>
      <td>{{ task.description }} </td>
      <td>{{ form.description }}</td>
    </tr>
    <tr>
      <td>{{ form.estimatedtime.label }}:</td>
      <td>{{ task.estimatedtime }} </td>
      <td>{{ form.estimatedtime }}</td>
    </tr>
    <tr>
      <td>{{  form.usedtime.label  }}</td>
      <td>{{  task.usedtime  }}</td>
      <td>{{  form.usedtime  }}</td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Save changes"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}