{% extends "layout.html" %}

{% block body %}
<input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<table class="table table-striped" id="myTable">
  <thead class="thead-dark">
    <th scope="col">Task</th>
    <th scope="col">Description</th>
    <th scope="col">Estimated time</th>
    <th scope="col">Used time</th>
    <th scope="col">Show and edit tags</th>
    <th scope="col">Edit task</th>
    <th scope="col">Owner</th>
    <th scope="col">Add time</th>
    <th scope="col">Delete</th>
  </thead> 
  {% for task in tasks %}
  <tr>
    <td class="text-uppercase">{{ task.name }}</td>
    <td>{{ task.description }}</td>
    <td>{{ task.estimated_time }}</td>
    <td>{{ task.used_time }}</td>
    <td><a class="page-link" href="{{ url_for('tasks_tagsget', task_id=task.id) }}">Tags</a></td>
    {% if task.account_id == current_user.id %}
      <td>
        <a class="page-link" href="{{ url_for('tasks_edit', task_id=task.id) }}">Edit task</a>
      </td>
    {% else %}
      <td class="p-3 mb-2 bg-info text-white">Owner only</td>
    {% endif %}
    <td>{{ task.username }}</td>
    {% if current_user.is_authenticated %}
      <td>
        <form method="POST" class="form-group" action="{{ url_for('tasks_addTime', task_id=task.id) }}">
          <input type="submit" class="btn btn-primary" value="Add time"/>
        </form>
      </td>
    {% else %}
      <td class="p-3 mb-2 bg-secondary text-white">Users only</td>
    {% endif %}
    {% if current_user.role == 'admin'%}
      <td>
        <form method="POST" class="form-group" action="{{ url_for('tasks_delete', task_id=task.id) }}">
          <input type="submit" class="btn btn-danger" value="Delete"/>
        </form>
      </td>
    {% else %}
      <td class="p-3 mb-2 bg-info text-white">Admin only</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
</script>
{% endblock %}
