{% extends "layout.html" %}

{% block body %}
<table class="table table-striped">
  <thead class="thead-dark">
    <th scope="col">Task</th>
    <th scope="col">Description</th>
    <th scope="col">Estimated time</th>
    <th scope="col">Used time</th>
    <th scope="col">Edit task</th>
    <th scope="col">Edit tags</th>
    <th scope="col">Owner</th>
    <th scope="col">Delete</th>
  </thead> 
  {% for task in tasks %}
  <tr>
    <td>{{ task.name }}</td>
    <td>{{ task.description }}</td>
    <td>{{ task.estimatedtime }}</td>
    <td>{{ task.usedtime }}</td>
    <td><a class="page-link" href="{{ url_for('tasks_edit', task_id=task.id) }}">Edit task</a></td>
    <td><a class="page-link" href="{{ url_for('tasks_tagsget', task_id=task.id) }}">Edit tags</a></td>
    <td>{{ task.username }}</td>
    <td>
        <form method="POST" class="form-group" action="{{ url_for('tasks_delete', task_id=task.id) }}">
          <input type="submit" class="btn btn-danger" value="Delete"/>
        </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
