{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('tasks_create') }}">
  <table class="table table-striped">
    <thead class="thead-dark">
        <th scope="col">Name of data</th>
        <th scope="col">Fill new task here</th>
    </thead>
    <tr>
      <td>{{ form.name.label }}</td>
      <td>{{ form.name }}</td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>{{ form.description.label }}</td>
      <td>{{ form.description }}</td>
    </tr>
    <tr>
      <td>{{ form.done.label }}</td>
      <td>{{ form.done }}</td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Add a new task"/>
      </td>
    </tr>
</form>
{% endblock %}