{% extends "layout.html" %}
  
{% block body %}
<h1 class="text-uppercase">{{ task.name }}</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item active">Current tags</li>
  {% for tag in task.tags %}
  <li class="list-group-item">{{ tag.name }}</li>
  {% endfor %}
</ul>
{% if current_user.is_authenticated %}
  <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
  <form method="POST" class="form-group" action="{{ url_for('tasks_tags', task_id=task.id) }}">
    <table class="table table-striped" id="myTable">
      <thead class="thead-dark">
        <th scope="col">Choose tags for task:</th>
        <th scope="col">{{ task.name }}</th>
      </thead>
      {% for tag in tags %}
      <tr>
        <td>
          <input type="checkbox" id={{ tag.id }} name="tags" value={{ tag.id }}>
        </td>
        <td>
          <label for={{ tag.id }}>{{ tag.name }}</label>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="2">
          <input type="submit" class="btn btn-primary" value="Add or remove tags to the task"/>
        </td>      
      </tr>
    </table>
  </form>
{% endif %}
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
</script>
{% endblock %}