{% extends "layout.html" %}
  
{% block body %}

<form method="POST" class="form-group" action="{{ url_for('tasks_tags', task_id=task.id) }}">
  <table class="table table-striped">
    <thead class="thead-dark">
      <th scope="col">Choose tags for task</th>
      <th scope="col">{{ task.name }}</th>
    </thead>
    {% for tag in tags %}
    <tr>
      <td>
        <input type="checkbox" id={{ tag.id }} name="tags" value={{ tag.id }}>
      </td>
      <td>
        <label for={{ tag.id }}>{{ tag.name }}</label>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <input type="submit" class="btn btn-primary" value="Add tags to task"/>
    </tr>
  </table>
</form>

{% endblock %}