{% extends "layout.html" %}

{% block body %}
<input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<script>
  function myFunction() {
    // Declare variables 
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
  </script>

<table class="table table-striped" id="myTable">
  <thead class="thead-dark">
    <th scope="col">Tag</th>
    <th scope="col">Edit tag</th>
    <th scope="col">Delete</th>
  </thead> 
{% for tag in tags %}
  <tr>
    <td class="text-uppercase">{{ tag.name }}</td>
    {% if current_user.role == 'admin' %}
      <td><a class="page-link" href="{{ url_for('tags_edit', tag_id=tag.id) }}">Edit tag</a></td>
      <td>
        <form method="POST" class="form-group" action="{{ url_for('tags_delete', tag_id=tag.id) }}">
          <input type="submit" class="btn btn-danger" value="Delete"/>
        </form>
      </td>
    {% else %}
      <td class="p-3 mb-2 bg-info text-white" colspan="3">
        Only admins can edit and delete tags
      </td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% endblock %}